<!-- Dans votre fichier products.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produits</title>
</head>
<body>
    <h1>Liste des produits disponibles</h1>
    <ul id="productList"></ul>

    <script>
        // Récupérer les produits depuis le serveur
        fetch('/products')
            .then(response => response.json())
            .then(products => {
                const productList = document.getElementById('productList');
                products.forEach(product => {
                    const listItem = document.createElement('li');
                    listItem.textContent = product.NOM;
                    productList.appendChild(listItem);
                });
            })
            .catch(error => console.error('Erreur lors de la récupération des produits:', error));
    </script>

    <p> Ajout produit </p>

       <!-- Dans votre fichier HTML -->

<form action="/add-product" method="post">
    <label for="nom">Nom du produit :</label>
    <input type="text" id="nom" name="nom" required><br>
    <label for="prixUnitaire">Prix unitaire :</label>
    <input type="number" id="prixUnitaire" name="prixUnitaire" required><br>
    <label for="quantite">Quantité :</label>
    <input type="number" id="quantite" name="quantite" required><br>
    <label for="dateExpiration">Date d'expiration :</label>
    <input type="date" id="dateExpiration" name="dateExpiration" required><br>
    <button type="submit">Ajouter produit</button>
</form>
</body>
</html>
